@tailwind base;
@tailwind components;
@tailwind utilities;

    @layer base {
      :root {
        --background: 210 22.2% 96.5%;
        --foreground: 215 27.9% 16.9%;
        --card: 0 0% 100%;
        --card-foreground: 215 27.9% 16.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 215 27.9% 16.9%;
        --primary: 320.8 63.5% 68.8%;
        --primary-foreground: 0 0% 100%;
        --secondary: 235.9 27.8% 31%;
        --secondary-foreground: 0 0% 100%;
        --muted: 210 22.2% 96.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 235.9 27.8% 31%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 216 12.2% 83.9%;
        --input: 216 12.2% 83.9%;
        --ring: 320.8 63.5% 68.8%;
        --radius: 0.75rem;
      }
    }
    
    @layer base {
      * {
        @apply border-border;
      }
      body {
        background: linear-gradient(135deg, #FFFAFC 0%, #FFEAF2 100%);
        min-height: 100vh;
        @apply text-foreground;
        font-family: 'Inter', sans-serif;
      }
       /* Scrollbar styles for WebKit browsers (Chrome, Safari) */
      ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      ::-webkit-scrollbar-track {
        background: #F4F6F8;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: #E27DBF;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #E27DBF;
      }
       /* Scrollbar styles for Firefox */
      * {
        scrollbar-width: thin;
        scrollbar-color: #E27DBF #F4F6F8;
      }
    }

    .pattern-bg {
      background-image: radial-gradient(circle, rgba(239, 68, 68, 0.7) 1.5px, transparent 1.5px);
      background-size: 6px 6px;
    }

    #spotting-pattern-chart {
      background-image: radial-gradient(circle, rgba(239, 68, 68, 0.7) 1.5px, transparent 1.5px);
      background-size: 6px 6px;
    }